.button {
  border: none;
  font-family: $raleway;
  font-size: $small;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: $white;
  cursor: pointer;
}
.button--primary {
  background-color: $ball-blue;
  color: $white;
  &:hover {
    background-color: $middle-blue;
  }
  &:focus {
    background-color: $lavender-gray;
  }
}
.button--large {
  padding: 1rem 0;
  width: 100%;
}
.button--small {
  padding: 0.5rem;
}
