.button {
  border: none;
  font-family: $raleway;
  font-size: $small;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: $white;
  cursor: pointer;

  &:hover {
  }
  &:focus {
  }
}
.button--primary {
  background-color: $ball-blue;
  color: $white;
}
.button--large {
  padding: 1rem 0;
  width: 100%;
}
.button--small {
  padding: 0.5rem;
}
