.card {
  background-color: $white;
  margin: 0 1.5rem 4rem;
  padding: 2.5rem 1rem;
  border: 1px solid $nickel;

  &:hover {
  }
}

.card__title {
  font-family: $open-sans;
  font-size: $large;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card__price {
  font-family: $raleway;
  font-size: $x2large;
  font-weight: $bold;
  margin-bottom: 1.5rem;
}

.card__list {
  font-family: $open-sans;
  font-size: $xsmall;
  font-weight: 400;
  padding: 1rem 0 0 2rem;
  list-style-type: disc;
}
.card__item-text {
  font-size: $medium;
}

.card__list-item {
  margin-bottom: 1.5rem;
}

@media (min-width: $sm) {
  .card-container {
    display: grid;
    grid-template-columns: 2fr 3fr 3fr 2fr;
  }

  .card:first-child {
    grid-column-start: 1;
    grid-column-start: 2;
  }
  .card:last-child {
    grid-column-start: 2;
    grid-column-start: 3;
  }
}
