// Colors Scheme
$white: #fff;
$platinum: #e8e8e8;
$gray: #bababa;
$dark-salmon: #ee9480;
$melon: #f4baae;
$pale-pink: #fadfda;
$ball-blue: #2ab7ca;
$middle-blue: #77d1dd;
$blue-lagoon: #b1e4eb;
$onyx: #333745;
$spanish-gray: #8f9199;
$lavender-gray: #c7c8cc;
$raising-black: #221d23;
$nickel: #726f73;
$silver-chalice: #aeacaf;

// Typography
//_ Font family
$raleway: "Raleway", sans-serif;
$open-sans: "Open Sans", sans-serif;
//_ Font weight
$regular: 400;
$bold: 700;
//_ Font size
$x5large: 50px;
$x4large: 45px;
$x3large: 40px;
$x2large: 35px;
$xlarge: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$xsmall: 12px;

// Viewport breakpoint
$sm: 576px;
