html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:visited {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

h2 {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}

.navigation__navbar {
  display: none;
}

.hero {
  margin-bottom: 2rem;
}

.hero__title {
  padding: 1.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.hero__text {
  padding: 1.5rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  line-height: 2rem;
}

.hero__background {
  height: 400px;
  background-image: url("../img/bg-hero.svg");
  background-position: -300px;
  background-repeat: no-repeat;
  background-size: 200vw;
}

.features {
  padding: 2rem;
}

.features__title {
  margin-bottom: 4rem;
}

.features__subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 1rem;
}

.features__graph {
  margin-bottom: 2rem;
  border-bottom: 5px solid #8f9199;
}
.features__graph svg {
  width: 100%;
}

.features__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

.price {
  background-image: url("../img/bg-price.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-bottom: 1px;
}

.price__title {
  padding-top: 4rem;
  margin-bottom: 3rem;
  color: #fff;
}

.footer {
  padding: 2rem;
  color: #8f9199;
  background-color: #221d23;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
}

.footer__left {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.button {
  border: none;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
}
.button--primary {
  background-color: #2ab7ca;
  color: #fff;
}

.button--large {
  padding: 1rem 0;
  width: 100%;
}

.card {
  background-color: #fff;
  margin: 0 1.5rem 4rem;
  padding: 2.5rem 1rem;
  border: 1px solid #726f73;
}
.card__title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card__price {
  font-family: "Raleway", sans-serif;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.card__list {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 1rem 0 0 2rem;
  list-style-type: disc;
}

.card__item-text {
  font-size: 16px;
}

.card__list-item {
  margin-bottom: 1.5rem;
}

/*# sourceMappingURL=style.css.map */
