.features {
  padding: 2rem;
}
.features__title {
  margin-bottom: 4rem;
}
.features__subtitle {
  font-family: $raleway;
  font-weight: $bold;
  font-size: $large;
  margin-bottom: 1rem;
}
.features__graph {
  margin-bottom: 2rem;
  border-bottom: 5px solid $spanish-gray;
  svg {
    width: 100%;
  }
}
.features__text {
  font-family: $open-sans;
  font-weight: $regular;
  font-size: $medium;
  line-height: 1.5rem;
  margin-bottom: 3rem;
}

@media (min-width: $sm) {
  .features__container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    column-gap: 6rem;
  }
  .features__graph {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .features__right {
    grid-column-start: 3;
    grid-column-end: 4;
  }
}
