.hero {
  margin-bottom: 2rem;
}

.hero__title {
  padding: 1.5rem;
  line-height: 3.5rem;
  margin-bottom: 1rem;
}

.hero__text {
  padding: 1.5rem;
  font-size: $medium;
  font-family: $open-sans;
  font-weight: 600;
  line-height: 2rem;
}

.hero__background {
  height: 400px;
  background-image: url("../img/bg-hero.svg");
  background-position: -300px;
  background-repeat: no-repeat;
  background-size: 200vw;
}
