.price {
  background-image: url("../img/bg-price.png");
  background-repeat: no-repeat;
  background-size: auto 100%;
  padding-bottom: 1px;
}
.price__title {
  padding-top: 4rem;
  margin-bottom: 3rem;
  color: $white;
}

@media (min-width: $sm) {
  .price {
    padding-top: 8rem;
  }
}
